#app {
  margin: 10px;
  padding: 20px 15px;
  border-radius: 35px;
  background-color: #2c49ac;
  background-image: url('../../../public/images/Pandemic-ERP-Bcg-image.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 15px 30px 3px rgba(82, 82, 82, 0.45);
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

body {
  height: 100vh;
  padding: 16px;
  background-color: #2c49ac;
  font-family: Manrope, sans-serif;
  color: #3f3f3f;
  line-height: 140%;
}

.border-standard {
  border-radius: 35px;
}

.content-header {
  @extend .border-standard;
  background-color: #f3f3f3;
}

.content {
  @extend .border-standard;
  background-color: #ffffff;
}